*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divs {
    background-color: gray;
    height: 100vh;
    width: 100vw;  
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
}

.square:hover {
    width: 150px;
    height: 150px;
}

.square--first {
    background-color: #B0FF51;
    transition: 1s;
}

.square--second {
    background-color: #BB98FF;
    transition: 1s;

}

